name: Playwright API CI Pipiline
on:
    push:
      branches: [ main, develop ]      
    pull_request: 
      branches: [ main ]
    workflow_dispatch:         
jobs:    
  playwright-test:
    name: playwrite + API Tests
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
        # 1️⃣ Checkout repository code
        - name: Checkout code
          uses: actions/checkout@v4








